:root {
  --basic-black: #000000;
  --basic-dark-grey: #283136;
  --basic-white-grey: #EEEEEE;
  --basic-grey: #666666;
  --basic-light-grey: #444444;
  --basic-coral: #FB565A;
  --basic-green: #00CA74;
  --basic-gold: #EFC849;
  --basic-white: #ffffff;
  --basic-coral-hover: #E74246;
  --basic-coral-active: #D7373B;
  --basic-grey-hover: #DFDFDF;
  --basic-grey-active: #D5D5D5;
  --special: #4D4D4D;
  --special-toogle: #ABABAB;
  --special-toggle-line: #00CA74;
  --special-border-form: #D7DCDE;
  --special-border-form-hover: #B4B9BB;

}

/* Global */
body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Navigation */

.header {
  padding-top: 49px;
  background-color: var(--basic-white-grey);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 160px;
  height: 65px;
}

.nav-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 26px 46px 0 1px;
  min-width: 440px;
  min-height: 40px;
  list-style: none;
}

.basket {
  position: relative;
  padding-left: 40px;
  padding-top: 26px;
}

.basket:before {
  content: "";
  position: absolute;
  top: 33px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("/img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.nav-list a,
.basket {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  text-decoration: none;
  margin-bottom: -2px;
}

.nav-list,
.basket {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.nav-list a:hover {
  color: var(--basic-coral);
}

.basket:hover {
  color: var(--basic-coral);
}

.catalog-title:hover {
  color: var(--basic-coral);
}

.nav-list a:focus {
  color: var(--basic-coral);
}

.basket:focus {
  color: var(--basic-coral);
}

.catalog-title:focus {
  color: var(--basic-coral);
}

.nav-list a:active,
.basket:active,
.catalog-title:active {
  opacity: 0.3;
}

.nav-item:hover,
.basket:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--basic-coral);
}

.nav-item:focus,
.basket:focus {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--basic-coral);
}


/* Products */
.products {
  padding: 80px 0 80px 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--basic-white-grey);
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-item {
  width: 300px;
}

.product-title {
  padding: 0;
  margin: 17px 0 0 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-content {
  margin: 16px 0 33px 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);
}

/* Slider */

.slider-content {
  width: 360px;
}

.slider {
  background-color: var(--basic-white-grey);
}

.slider-list {
  padding: 0;
  list-style: none;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.slider-title {
  margin: 0;
  padding: 78px 0 10px 1px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.slider-content {
  width: 382px;
  min-height: 279px;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);
}

.slider-text {
  margin-bottom: 38px;
}

.slider-image {
  margin: 0;
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 39px 0 49px 0;
}

.about-left {
  width: 651px;
  min-height: 172;
  margin: 0;
}

.about-right .about-title{
  margin: 30px 0 31px 31px;
}

.about-title-main {
  margin: 34px 0 33px 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0.2px;
  color: var(--basic-black);
}

.about-subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey)
}

.about-title {
  margin: 31px 0 23px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-dark-grey)
}

.adventage-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.adventage-item {
  font-size: 16px;
  line-height: 24px;
  margin-left: 36px;
  margin-bottom: 24px;
  color: var(--basic-dark-grey)
}

.adventage-list li::after {
    display: block;
    content: "";
    background: var(--basic-coral);
    height: 2px;
    width: 25px;
    right: 626px;
    margin-top: -13px;
    position: absolute;
}

.digits {
  display: flex;
  flex-direction: row;
  width: 374px;
  min-height: 112px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.digits-items {
  margin: 0px 0px 0px 12px;
}

.title-digits {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-grey);
  margin: 11px 12px 0 3px ;
}

.figures {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  padding-left: 3px;
}

.sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

/* Partners */
.partners {
  position: relative;
  margin-bottom: 80px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: var(--basic-white-grey);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--basic-white-grey);
  padding: 50px 0 42px 0;

}

.partners-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-item {
  align-items: center;
  position: relative;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.partners-list img {
  opacity: 0.2;
}

.html-academy {
  display: inline-block;
  margin: 7px 0 0px 32px;
}

.barbershop {
  display: inline-block;
  margin: -4px 0 0px 47px;
}

.pink {
  display: inline-block;
  margin: 0px 0px 4px 60px;
}

.mishka {
  display: inline-block;
  margin: 1px 0 0 63px;
}

.partners-item:nth-child(4n),
.partners-item:nth-child(4n+1) {
  width: 279px;
}

.partners-item:nth-child(4n+2),
.partners-item:nth-child(4n+3) {
  width: 301px;
}

.partners-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-white-grey);
  top: 45%;
  left: 100%;
  transform: translate(-50%,-50%);
}

.partners-list img:hover {
  opacity: 1;
}

.partners-list img:focus {
  opacity: 1;
}

.partners-list img:active {
  opacity: 0.1;
}

/* Buttons */
.button {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 40px 15px 41px;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-coral);
  border-radius: 3px;
  border: none;
  outline: none;
}

.button--coral {
  background-color: var(--basic-coral);
}

.button--green {
  background-color: var(--basic-green);
}

.button--gold {
  background-color: var(--basic-gold);
}

.button--coral:hover,
.button--coral:focus {
  background-color: var(--basic-coral-hover);
}

.button--green:hover,
.button--green:focus {
  background-color: #00BC6C;
}

.button--gold:hover,
.button--gold:focus {
  background-color: #EAB534;
}

.button--coral:active {
  background-color: var(--basic-coral-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button--green:active {
  background-color: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button--gold:active {
  background-color: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-button {
  padding: 17px 55px 15px 55px;
  margin: 0;
  background-color: var(--basic-coral);
  border-radius: 3px;
}

.slider-button:hover,
.slider-button:focus {
  background-color: var(--basic-coral-hover);
}

.slider-button:active {
  background-color: var(--basic-coral-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-contacts {
  margin: 35px 0 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-coral);
  border-radius: 3px;
  width: 100%;
}

.button-contacts:hover,
.button-contacts:focus {
  background-color: var(--basic-coral-hover);
  cursor: pointer;
}

.button-contacts:active {
  background-color: var(--basic-coral-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-send {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 83px 15px 83px;
  background-color: var(--basic-coral);
  cursor: pointer;
}

.button-send:hover,
.button-send:focus {
  background-color: var(--basic-coral-hover);
  cursor: pointer;
}

.button-send:active {
  background-color: var(--basic-coral-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-cross {
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
}
.button-cross:hover {
  opacity: 1;
}
.button-cross:focus {
  opacity: 1;
}
.button-cross:active {
  opacity: 0.1;
}

.button-price {
  width: 100%;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 72px 15px 72px;
  border: none;
  border-radius: 3px;
  margin-top: 32px;
  cursor: pointer;
}

.button-show {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  background-color: var(--basic-white-grey);
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
}
.button-show:hover {
  background-color: var(--basic-grey-hover);
}
.button-show:focus {
  background-color: var(--basic-grey-hover);
}
.button-show:active {
  background-color: var(--basic-grey-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Map */

.map {
  width: 1440px;
  height: 416px;
}

.map img {
  display: block;
}

.map iframe {
  border: none;
  background-image: url(/img/map.png);
  z-index: 2;
}

.information {
  position: relative;
}

/* Contacts */
.contacts-wrapper {
  position: absolute;
  width: 319px;
  height: 308px;
  top: 54px;
  left: 140px;
  background-color: var(--basic-white);
}

.contacts {
  margin: 49px 50px 47px 50px;
}

.contacts-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black)
}

.address {
  margin: 23px 0 -9px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey)
}

.phone-number {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey)
}

/* Filters */

.filters {
  margin-top: 55px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.input-radio-list {
  margin: 17px 0 0 4px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark-grey);
}

.input-radio-list .filter-radio {
  margin-bottom: 21px;
  margin-left: 32px;
}

.input-radio-list .filter-checkbox {
  margin-bottom: 21px;
  margin-left: 26px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2px;
  padding: 3px 0 0 0;
}

.input-radio-list li:last-child {
  margin-bottom: 46px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-dark-grey);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border-width: 8px;
  border-style: solid;
  border-color: var(--basic-white);
  background-color: var(--specil-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px 3px 10px 17px;
  margin-left: 8px;
  text-align: center;
  color: var(--basic-dark-grey);
  border: none;
  border-radius: 5px;
  background: var(--basic-white-grey);
  font-family: inherit;
  font-size: inherit;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.filter-input-checkbox:hover+label,
.filter-input-checkbox:focus+label {
  color: var(--special);
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 19px;
  height: 19px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--basic-grey-hover);
  border-radius: 3px;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -32px;
  width: 22px;
  height: 17px;
  background-image: url("/img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 17px;
  height: 17px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--special);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--special);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input:hover {
opacity: 1;
}

.filter-checkbox label {
  margin-left: 6px;
}

/* Sort */
.sort-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 33px;
}

.sort-title {
  font-weight: bold;
  padding: 0;
  margin: 55px 0 48px 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 61px 0 50px 205px;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
}
.sort-type {
  margin-right: 27px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-type:hover,
.sort-dir-up:hover,
.sort-dir-down:hover {
  opacity: 0.6;
}

.sort-type:focus,
.sort-dir-up:focus,
.sort-dir-down:focus {
  opacity: 0.6;
}

.sort-type:active,
.sort-dir-up:active,
.sort-dir-down:active {
  opacity: 1;
}

.sort-dir {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 64px 0 69px 0;
}

.sort-dir-up {
  background-image: url(/img/icon-down-dir.svg);
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(180deg);
  top: 0px;
  right: 2px;
  opacity: 0.2;
}
.sort-dir-down{
  background-image: url(/img/icon-down-dir.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 30px;
  opacity: 0.2;
}
.sort-dir-up,
.sort-dir-down {
  width: 11px;
  height: 10px;
}

.button-sort {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.sort-type .button-sort {
  text-transform: uppercase;
}

/* Catalog */
.catalog-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.page-catalog {
  margin-left: 140px;
  width: 760px;
  margin-bottom: 60px;
}

.title-page {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding: 72px 18px 108px 0;
  color: var(--basic-black);
  background-color: var(--basic-white-grey);
}

.header .title-page {
  justify-content: center;
}

.catalog-title {
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.price-item {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
  margin: 11px 0 20px 0;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  min-height: 560px;
  margin-right: 40px;
  margin-bottom: 28px;
  padding-top: 40px;
  line-height: 1;
}
.catalog-item:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  left: 0;
  opacity: 0.12;
}

.catalog-item a {
  padding: 0;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.popup-buy-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-white-grey);
  width: 200px;
  margin: -21px auto 0 auto;
}

.popup-buy {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--basic-white-grey);
  padding: 50px 80px 26px 80px;
 }

.catalog-item:hover .popup-buy {
  display: block;
}

.catalog-item:focus .popup-buy {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover::after {
  opacity: 1;
}

.catalog-item:active::after {
  opacity: 1;
}

/* footer */

.social-icons-wrapper {
  margin: 68px 0;
  display: flex;
  height: 79px;
  width: 1080px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 261px;
  max-height: 79px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  display: inline-block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: var(--basic-white-grey);
}

.social-item--vk {
  margin: 0;
  padding: 0;
  background-image: url("/img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item--fb {
  margin: 0;
  padding: 0;
  background-image: url("/img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item--inst {
  margin: 0;
  padding: 0;
  background-image: url("/img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item:hover,
.social-item:focus {
  background-color: var(--basic-coral-hover);
}

.social-item:active {
  background-color: #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-tagline {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-content {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

.footer-info {
  margin-left: 139px;
  padding-top: 7px;
}

/* Pagination */

.pagination-list {
  display: flex;
  justify-content: flex-start;
  width: 443px;
  height: 50px;
  margin: 0 0 0 1px;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: inline-block;
  padding: 17px 20px 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white-grey);
  border-radius: 3px;
}

.pagination-item {
  padding: 0;
  margin-right: 12px;
}
.pagination-next {
  text-transform: uppercase;
  padding: 17px 77px 15px 78px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: var(--basic-grey-hover);
}

.pagination-link-current {
  display: inline-block;
  padding: 14px 17px 12px 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 3px;
}

.pagination-link-current:hover,
.pagination-link-current:focus {
  background-color: var(--basic-white);
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
  width: 44px;
  height: 44px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--basic-grey-hover);
  border-radius: 3px;
  background-color: none;
}

.pagination-link:active {
  background: var(--basic-grey-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-link-current:active {
  background-color: var(--basic-white);
  box-shadow: none;
}


/* Popup */

.popup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 950px;
  height: 590px;
  border: 2px solid black;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.form-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 761px;
  height: 353px;
  margin: 37px auto 84px auto;
}

.popup-title {
  margin: 0;
  padding: 63px 0 0 100px;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
}

.cross {
  width: 21px;
  height: 21px;
  margin: 78px 90px 0 0;
  padding: 0;
  background-image: url(/img/close-cross.svg);
  background-repeat: no-repeat;
}

.input-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.input-content {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-grey);
  opacity: 0.5;
  border-width: 2px;
  border-style: solid;
  border-color: var(--special-border-form);
  border-radius: 3px;
  margin: 0;
  padding-left: 16px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
}

.email,
.name {
  margin-bottom: 34px;
}

.text {
  width: 760px;
  min-height: 145px;
  margin-bottom: 16px;
}

.text .input-content {
  padding: 16px;
}

.input-text {
  width: 100%;
}

.input-field-data {
  width: 340px;
  height: 50px;
}

.input-content:hover {
  border-color: var(--special-border-form-hover);
}

.input-content:focus {
  border-color: var(--basic-black);
  color: var(--basic-black);
}

.input-content:invalid:not(:placeholder-shown) {
  border-color: var(--basic-coral-hover);
  color: var(--basic-coral-hover);
}
